footer{
    background-color: #252525;
    padding: 2rem 4rem 6rem 4rem;
    
    }

        .onecol{
             color: #999999;
             font-size: 14px;
          

               

            }