.containers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navimg {
  margin: 0 auto;

  div {
    padding: 1.5rem 0;
  }

  ul {
    li {
      a {
        color: #333333;

        &:hover {
          color: #ffba00;
        }
      }
    }
  }
}

.baricon {
  a {
    i {
      color: #222222;

      &:hover {
        color: #ffba00;
      }
    }
  }
}

.magnifyingicon {
  a {
    i {
      &:before {
        border-left: 1px solid lightgrey;
        padding: 29px;
      }

      color: #222222;

      &:hover {
        color: #ffba00;
      }
    }
  }
}

.baricon {
  a {
    i {
      color: #222222;

      &:hover {
        color: #ffba00;
      }
    }
  }
}

.magnifyingicon {
  a {
    i {
      &:before {
        border-left: 1px solid lightgrey;
        padding: 22px;
      }

      color: #222222;

      &:hover {
        color: #ffba00;
      }
    }
  }
}

.infohead {
  text-align: center;
  background-color: #72d8cd;
  padding: 1rem;

  i {
    color: #397265;
  }

  span {
    color: #397265;
    font-size: 14px;

    strong {
      font-size: 14px;
    }
  }
}

.usericon {
  a {
    color: #333;
    transition: all 0.5s;
    border-left: 1px solid lightgrey;
    padding: 22px;

    i{
      transition: all 0.5s;
    }

    &:hover {
      i{
        color: #eabe12;
      }
      div{
        visibility: visible;
        opacity: 1;
      }
    }
    div{
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 1000;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s;

      span{
        padding: 15px 20px;
        min-width: max-content;
        border-bottom: 1px solid #222;
        color: #252525;
        transition: all 0.5s;

        &:hover{
          color: #eabe12;
        }

        &:last-child{
          border: 0;
        }
      }
    }
  }
}

.shopicon {
  a {
    color: #333;
    transition: all 0.5s;

    i{
      transition: all 0.5s;
    }
    &:hover {
      i{
        color: #eabe12;
      }
      span{
        opacity: 1;
        visibility: visible;
      }
    }
    span{
      position: absolute;
      right: 0;
      top: 100%;
      transform: translateY(30%);
      min-width: max-content;
      padding: 25px 30px;
      background-color: #fff;
      font-size: 14px;
      z-index: 1000;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s;
    }
  }
}

.homehover {
  cursor: pointer;
  position: relative;
  padding: 1.5rem 0 1.5rem 0;

  .homehoverin {
    width: 30vw;
    height: max-content;
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    padding: 2rem;
    top: 100%;
  }

  &:hover {
    .hover-link {
      color: #ffba00;
    }

    .homehoverin {
      display: block;
    }
  }
}

.shopStylesHover {
  cursor: pointer;
  position: relative;
  padding: 1.5rem 0 1.5rem 0;

  .shopStylesHoverin {
    width: 98vw;
    height: 60vh;
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    padding: 2rem;
    top: 100%;
    transform: translateX(-34.5%);
    // transform:translateY(10%);
  }

  &:hover {
    .hover-link {
      color: #ffba00;
    }

    .shopStylesHoverin {
      display: block;
    }
  }
}

.featuresHover {
  cursor: pointer;
  position: relative;
  padding: 1.5rem 0 1.5rem 0;

  .featuresHoverin {
    width: 98vw;
    height: 60vh;
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    padding: 2rem;
    top: 100%;
    transform: translateX(-41.5%);
    // transform:translateY(10%);
  }

  &:hover {
    .hover-link {
      color: #ffba00;
    }

    .featuresHoverin {
      display: block;
    }
  }
}

.pagesHover {
  cursor: pointer;
  position: relative;
  padding: 1.5rem 0 1.5rem 0;

  .pagesHoverin {
    width: 98vw;
    height: 60vh;
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    padding: 2rem;
    top: 100%;
    transform: translateX(-56.5%);
    // transform:translateY(10%);
  }

  &:hover {
    .hover-link {
      color: #ffba00;
    }

    .pagesHoverin {
      display: block;
    }
  }
}

.elementsHover {
  cursor: pointer;
  position: relative;
  padding: 1.5rem 0 1.5rem 0;

  .elementsHoverin {
    width: 98vw;
    height: 60vh;
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    padding: 2rem;
    top: 100%;
    transform: translateX(-61%);
    // transform:translateY(10%);
  }

  &:hover {
    .hover-link {
      color: #ffba00;
    }

    .elementsHoverin {
      display: block;
    }
  }
}

.demosHover {
  cursor: pointer;
  position: relative;
  padding: 1.5rem 0 1.5rem 0;

  .demosHoverin {
    width: 98vw;
    height: 30vh;
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    padding: 2rem;
    top: 100%;
    transform: translateX(-67%);

    // transform:translateY(10%);
    img {
      width: 10rem;
      height: 8rem;
    }
  }

  &:hover {
    .hover-link {
      color: #ffba00;
    }

    .demosHoverin {
      display: block;
    }
  }
}

.btnhov {
  a {
    min-width: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff !important;
    font-size: 12px;
    font-weight: 600;
    padding: 15px 35px;
    background-color: #000;
    transition: all 0.5s;
    text-align: center;

    span {
      transform: translateX(12px);
      transition: all 0.4s;
    }

    i {
      font-size: 18px;
      transform: scale(0.5);
      opacity: 0;
      transition: all 0.4s;
    }

    &:hover {
      span {
        transform: translateX(0);
      }

      i {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}



.mobile-menu-wrap {
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  background-color: #222;
  z-index: 2000;
  overflow-y: auto;
  
  transform: translateX(-100%);
  transition: all 0.4s;
  
  
  .mobile-menu-inner {
    
    .mob-menu-search {
      position: relative;

      input {
        padding: 15px 20px;
        font-weight: 700;
        color: #e4e4e4;
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #444;
        outline: none;
        width: 100%;
      }
      i{
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        color: #e4e4e4;
      }
    }

    ul{
      li{
        border-bottom: 1px solid #444;
        a{
          display: block;
          padding: 15px 20px;
          color: #fff;
          font-weight: 600;
          transition: all 0.5s;
        }

        &:hover{
          a{
            color: #eabe12;
          }
        }
      }

    }
  }
}


.sub-menu{
  max-height: 0;
  transition: all 0.5s;
  overflow: hidden;

  li{
    color: #fff;
    padding: 15px 25px;
  }
}

.active{
  max-height: 1000px;
}

.turn{
  rotate: 180deg;
  transition: all 1s ease;
}

.opened{
 transform: translateX(0);
 
}


