.containers {
  display: flex;
  justify-content: center;
  align-items: center;

}

.navimg {

  margin: 0 auto;

  div{
    padding: 1rem;
  }

  ul {

    li {

      a {

        color: #333333;

        &:hover {
          color: #ffba00;
        }

      }

    }

  }

}

.baricon {

  a {
    i {

      color: #222222;

      &:hover {
        color: #ffba00;

      }

    }

  }

}

.magnifyingicon {

  a {
    i {
      &:before {
        border-left: 1px solid lightgrey;
        padding: 22px;

      }

      color: #222222;

      &:hover {
        color: #ffba00;

      }

    }

  }

}

.newspapericon {
  a {
    i {

      &::before {
        border-right: 1px solid lightgrey;
        padding: 20px;

      }

      &:hover {
        color: #ffba00;

      }

    }

  }



}



.infohead {
  text-align: center;
  background-color: #72D8CD;
  padding: 1rem;

  i {
    color: #397265;

  }

  span {

    color: #397265;
    font-size: 14px;

    strong {

      font-size: 14px;

    }
  }


}


.usericon {

  a {

    i {
      color: #252525;

      &:hover {
        color: #ffba00;

      }
    }

  }

}


.shopicon {

  a {
    i {

      color: #333333;


    }


  }

}



.homehover {
  cursor: pointer;
  position: relative;
  padding: 1.5rem;



  .homehoverin {
    display: none;
    position: absolute;
    background-color: red;
    z-index: 10;
    padding: 5rem;
    top: 100%;
  }

  &:hover {

    .hover-link {

      color: #ffba00;

    }

    .homehoverin {

      display: block;
    }

  }
}