.learn-btn {
    a {
        font-size: 14px;
        background: none;
        border: 2px solid #e3e3e3;
        padding: 11px 34px;
        color: $secondary-black;
        border-color: $secondary-black;
        transition: all 0.5s ease-out;

        &:hover {
            background-color: $secondary-black;
            color: #fff;
        }

        @media (min-width:768px) {
            font-size: 20px;
        }
    }
}

.add-to-cart-btn {
    a {
        font-size: 14px;
        background-color: $primary-black;
        border-color: $primary-black;
        color: #fff;
        padding: 11px 34px;

        @media (min-width:768px) {
            font-size: 20px;
        }
    }
}

.shop-btn{
    background: none;
    border: 2px solid $bg-white;
    padding: 15px 25px;
    transition: all 0.5s;
    color: #fff;
    min-width: max-content;

    &:hover{
        color: $secondary-black;
        background-color: $bg-white;
    }
}