.learn-btn {
    a {
        font-size: 14px;
        background: none;
        border: 2px solid #e3e3e3;
        padding: 11px 34px;
        color: $secondary-black;
        border-color: $secondary-black;
        transition: all 0.5s ease-out;

        &:hover {
            background-color: $secondary-black;
            color: $white;
        }

        @media (min-width:768px) {
            font-size: 20px;
        }
    }
}

.add-to-cart-btn {
    a {
        font-size: 14px;
        background-color: $primary-black;
        border-color: $primary-black;
        color: $white;
        padding: 11px 34px;

        @media (min-width:768px) {
            font-size: 20px;
        }
    }
}

.shop-btn {
    background: none;
    border: 2px solid $bg-white;
    padding: 15px 25px;
    transition: all 0.5s;
    color: $white;
    min-width: max-content;

    &:hover {
        color: $secondary-black;
        background-color: $bg-white;
    }
}

.btn-ordinary {
    color: $gray-black;
    border-radius: 50px !important;
    padding: 15px 30px !important;
    font-family: 'Karla', sans-serif;
    font-size: 15px !important;
    font-weight: 600 !important;
    font-family: 'Karla', sans-serif;

    &:hover {
        background-color: $primary-black !important;
        transition: 0.5s ease;
    }
}

.btn-hover {
    border: 3px solid $secondary-black !important;
    color: $gray-black;
    font-weight: 700 !important;
    padding: 20px 50px !important;
    border-radius: 50px !important;
    font-size: 15px !important;
    margin-top: 100px;
    font-family: 'Karla', sans-serif;

    &:hover {
        color: $white !important;
        background-color: $secondary-black !important;
    }
}

.btn-hover1 {
    border: 2px solid $secondary-black !important;
    color: $secondary-black;
    font-weight: 700 !important;
    padding: 15px 30px !important;
    border-radius: 50px !important;
    font-size: 12px !important;
    margin-top: 15px;
    font-family: 'Karla', sans-serif;

    &:hover {
        color: $white !important;
        background-color: $secondary-black !important;
    }
}

.btn-hover-secondary {
    border: 2px solid $white !important;
    color: $white;
    font-weight: 700 !important;
    padding: 16px 35px !important;
    border-radius: 25px !important;
    font-size: 12px !important;
    margin-top: 32px;
    font-family: 'Karla', sans-serif;

    &:hover {
        color: $secondary-black !important;
        background-color: $bg-white !important;
    }
}

.learn-more-btn {
    position: relative;
    margin-top: 20px;

    a {
        min-width: max-content;
        display: flex;
        align-items: center;
        gap: 1rem;
        color: $secondary-black;
        font-size: 12px;
        font-weight: 600;
        padding: 15px 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        transition: all 0.5s;
        text-align: center;

        span {
            transform: translateX(12px);
            transition: all 0.4s;
        }


        i {
            font-size: 18px;
            transform: scale(0.5);
            opacity: 0;
            transition: all 0.4s;
        }

        &:hover {
            background-color: $bg-white;

            span {
                transform: translateX(0);
            }

            i {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}