// slider-section
@media(width<=375px) {
    .section-div {
        .banner-text {
            padding: 50px 0;

            h1 {
                font-size: 27px;
                width: 55%;
            }
            p{
                width: 80%;
            }
        }
        .swiper-side1{
            padding: 200px 0 250px 0;
        }
    }


    #features-section {
        .heading-text {
            padding: 40px 0;
            h1 {
                font-size: 30px;
            }
        }
    }


    // cards
    .card-section {
        .card-item {
            h3 {
                font-size: 19px;
            }
            
            p {
                font-size: 16px;
            }
           
        }
    }

    .btn-ordinary,
    .btn-hover {
        padding: 12px 20px !important;
        font-size: 12px !important;
    }

    .section-div1 {
        .content-text {
            h1 {
                font-size: 30px;
                width: 65%;
            }

            p {
                font-size: 14px;
                width: 60%;
            }
        }

        .cards {
            padding-bottom: 80px;

            .card-item {
                padding-bottom: 40px;

                .img-wrap {
                    margin-bottom: 15px;

                }

                h6 {
                    font-size: 20px;
                    font-family: 'Dosis', sans-serif;

                }
            }
        }
    }

}

@media(width<=768px) {
    #slider-section {
        .banner-slider {
            .swiper-pagination {
                bottom: 0 !important;
            }

            .navigation {
                bottom: 0 !important;
                right: 35px !important;

                .swiper-prev,
                .swiper-next {
                    font-size: 18px;
                }
            }
        }
    }

    .card-section {
        .card-item {
            h3 {
                font-size: 19px;
            }
            p {
                font-size: 16px;
            }
            .paragraph1 {
                font-size: 15px;
            }
            .paragraph2 {
                font-size: 13px;
            } 
        }
    }
    
}